@using System.Globalization
@model Sale
@{
    ViewData["Title"] = "Delete Sale";
}

<h2 class="text-danger">Delete Sale</h2>
<p>Are you sure you want to delete this sale?</p>

<div class="card p-4 shadow">
    <table class="table table-bordered">
        <tr>
            <th>Segment</th>
            <td>@Model.Segment</td>
        </tr>
        <tr>
            <th>Country</th>
            <td>@Model.Country</td>
        </tr>
        <tr>
            <th>Product</th>
            <td>@Model.Product</td>
        </tr>

        <tr>
            <th>Discount Band</th>
            <td>@Model.DiscountBand</td>
        </tr>
        <tr>
            <th>Units Sold</th>
            <td>@Model.UnitsSold</td>
        </tr>

        <tr>
            <th>Manufacturing Price</th>
            <td>@Model.ManufacturingPrice.ToString("C", CultureInfo.CreateSpecificCulture("en-GB"))</td>
        </tr>
        <tr>
            <th>Sale Price</th>
            <td>@Model.SalePrice.ToString("C", CultureInfo.CreateSpecificCulture("en-GB"))</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>@Model.Date.ToShortDateString()</td>
        </tr>
    </table>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id">
        <button type="submit" class="btn btn-danger">Delete</button>
        <a href="/Sales" class="btn btn-secondary">Cancel</a>
    </form>
</div>
